@font-face {
    font-family: "Swiss 911";
    src: url('./typeface/swiss-911.ttf') format('truetype');
}

@font-face {
    font-family: "ITC Korinna";
    src: url('./typeface/itc-korinna.ttf') format('truetype');
}

body, html {
    background: #131212;
    margin: 0;
    width: 100%;
    user-select: none;
}

#container {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.box, .topic {
    background: radial-gradient(100% 100%, #071174, #030833);
    border-radius: 4px;
    padding: 32px 16px;
    margin: 12px;
    width: 224px;
    height: 62px;
    text-align: center;
    color: white;
    font-family: "Swiss 911";
}

.box a {
    font-size: 84pt;
    line-height: 64px;
    text-align: center;
    color: white;
    font-family: "Swiss 911";
}

.topic {
    font-size: 32pt;
    font-weight: normal;
    display: table-cell;
    vertical-align: middle;
    text-shadow: 5px 5px #141414,
                 4px 4px #141414,
                 3px 3px #141414,
                 2px 2px #141414,
                 1px 1px #141414;
}

.topic-box {
    display: table;
    overflow: hidden;
    height: 62px;
    padding: 16px;
}

li a:link, li a:visited {
    text-decoration: none;
    text-shadow: 10px 10px #141414,
                 9px 9px #141414,
                 8px 8px #141414,
                 7px 7px #141414,
                 6px 6px #141414,
                 5px 5px #141414,
                 4px 4px #141414,
                 3px 3px #141414,
                 2px 2px #141414,
                 1px 1px #141414;
    color: #D69F4C;
    transition: all 0.35s ease-in-out;
}

li a:hover {
    color: white;
}

li a:active {
    color: darkgrey;
}

.query {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(100% 100%, #14177F, #080933);
    transition: all 0.75s;
    visibility: hidden;
    opacity: 0;
    display: table;
}

.query:target {
  visibility: visible;
  opacity: 1;
}

.q-box, .a-box {
    display: table-cell;
    vertical-align: middle;
    padding: 0 20%;
}

h1, h2, h3, p {
    cursor: default;
}

div p {
    font-family: "ITC Korinna";
    text-align: center;
    text-shadow: 6px 6px #141414,
                 5px 5px #141414,
                 4px 4px #141414,
                 3px 3px #141414,
                 2px 2px #141414,
                 1px 1px #141414;
    font-size: 64pt;
    color: white;
}

button {
    background: none;
    border: none;
}

.close {
    position: fixed;
    border: none;
    background: none;
    top: 5%;
    right: 5%;
}

.x {
    font-size: 64pt;
    text-decoration: none;
    color: white;
}

.clock {
    position: fixed;
    bottom: 5%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    text-align: center;
}

.time {
    font-size: 42pt;
    font-family: "Swiss 911";
    text-shadow: none;
}

.progress-bar {
    position: fixed;
    width: 100%;
    bottom: 8%;
    left: 0;
    height: 0.5%;
    background: white;
}

/* {
    outline: dotted thin #fff;
}